@page
@model Stocks.Pages.IndexModel
@{
    ViewData["Title"] = "Stock Scanner";
}

<h2>My Stocks For Today</h2>

<div>
    <div style="color:@(Model.SpyPrice > Model.SpyPriceDayBefore ? "green" : "red")">Spy price - @Model.SpyPrice , yesederday @Model.SpyPriceDayBefore </div>
</div>



<ul>
    @foreach (var symbol in Model.MyStocks)
    {
        <li>@symbol</li>
    }
</ul>



<h2>Report</h2>
<ul>
    @foreach (var symbol in Model.ReportedStocks)
    {
        <li>@symbol</li>
    }
</ul>